
<html>
    <head>
        <title>Upload a File and choose an age</title>
    </head>
    <body>
        <form action="http://localhost:5050/upload" method="POST" enctype="multipart/form-data">
            <label for="age">Fill in an age you want to see:</label>
            <input type="age" id="age" name="age" min="1" max="90">
            <br>
            <label for="file">Upload a file:</label>
            <input type="file" id="file" name="file">
            <br>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
